/** Colours
 *
 * graphite - #666
 * dark - #666
 * light blue - #19B6FF rgb(25,182,255)
 * orange - #FFA73D rgb(255,167,61)
 * red - E1100A rgb(255,16,10)
 *
 *
**/

/**** BOILERPLATE ****/
* {
	box-sizing:border-box;
}
html, body {
	margin:0px;
	padding:0px;
	font-size:16px;
	overflow-x:hidden;
}
img {
	max-width:100%;
}
.clearfix:after {
	content:'';
	display:block;
	clear:both;
}
.alignright {
	text-align:right;
}
.fullscreen {
	min-height:80vh;
}
.pad-vertical {
	padding-top:3rem;
	padding-bottom:3rem;
}
.pad-top {
	padding-top:1rem
}


/**** TYPOGRAPHY ****/
body {
	font-family:Verdana;
	color:#666;
}
h1, h2, h3, h4, h5, h6 {
	font-family:Montserrat, Verdana sans-serif;
	font-weight:bold;
}
h1 {
	margin:1rem 0rem 1.5rem 0rem;
}
h2 {
	
}
h3 {
	
}
h4 {
	margin-bottom:0.25rem;
}
h5 {
	
}
h6 {
	
}
time {
	font-size:0.75rem;
}
h4 + time {
	margin-bottom:0.5rem;
}

/**** LINKS ****/
body a, body a:visited {
	color:rgb(255,167,61);
	font-weight:normal;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
	color:rgb(255,167,61);
}
body a > * {
	color:#666;
}

/**** MENUS ****/
ul.menu {
    padding:0;
	list-style-type:none;
}
ul.menu li a {
	text-transform:capitalize;
}

/**** BUTTONS ****/
#page .btn {
	border-color:#666;
	outline:0px;
	border-radius:2px;
	background-color:transparent;
	font-weight:bold;
	color:#666;
	text-align:center;
	white-space:normal;
	transition:0.2s;
}
#page .btn.btn-primary {
	border-color:transparent;
	background-color:rgb(255,167,61);
	color:white;
}
#page .btn.btn-secondary {
	border-color:rgb(255,167,61);
	background-color:transparent;
	color:rgb(255,167,61);
}
#page .btn:hover {
	background-color:#666;
	color:white;
	cursor:pointer;
	text-decoration:none;
}
#page .btn-primary:hover {
	background-color:rgba(225, 129, 10, 1);
}
#page .btn.big {
	min-width:150px;
}

/**** GLYPHICON ****/
.glyphicon {
	color:inherit;
}

/**** NAVIGATION ****/
nav {
	padding-top:1rem; padding-bottom:1rem;
	border-bottom:1px solid #f3f3f3;
}
nav .container {
	position:relative;
}
nav .brand {
	float:left;
	font-size:2rem;
	font-weight:bold;
}
nav ul.menu {
	display:inline-block;
	float:right;
	list-style-type:none;
	margin:6px 0px;
	padding:0px;
}
nav ul.menu>li {
	display:inline-block;
	position:relative;
	margin-right:30px;
}
nav ul.menu a, nav a:visited {
	padding:2px 0px 2px 0px;
	font-size:0.85rem;
	color:rgb(255,167,61);
}
nav ul.menu a.active {
	border-bottom:2px solid rgb(255,167,61);
}
nav ul.menu>li .notification-count {
	position:absolute;
	top:-0.66rem; right:-0.75rem;
	padding:0.33rem;
	padding-top:0.3rem;
	border-radius:50%;
	font-size:0.85rem;
	line-height:70%;
	background-color:rgb(255,16,10);
	color:white;
}

/**** HEADER ****/
header {
	padding:5rem 0rem;
	text-align:center;
    color: white;
    background-size:cover;
    background-position:center;
    box-shadow:0px 0px 0px 5000px rgba(0,0,0,0.3) inset;
}
header h1 {
	margin:0; margin-bottom:2rem;
    font-size:10vw;
}
header h2 {
	margin:0;
    font-size:2.5vw;
}
header input[type=text] {
	display:block;
	margin-top:5rem;
	text-align: center;
	font-size:1.25rem;
	padding:1.5rem;
	color:#666;
    background-color:white;
    border:0;
    border-radius:2px !important;
    outline:0;
    box-shadow: none;
    text-transform:uppercase;
}
header input[type=text]:focus {
	outline:0;
	box-shadow:none;
}
header input[type=text]::-webkit-input-placeholder {
    color:#666;
}
header .panel {
	color:#666;
}

/**** ALERT ****/
.alert {
	background-color: rgba(255, 167, 61, 0.17);
    color: #ffa73d;
}

/**** PAGE ****/
.backdrop {
	background-image:url('/images/headers/home.jpg');
	background-size:cover;
    background-position:center;
	box-shadow:inset 0px 0px 0px 5000px rgba(0,0,0,0.5);
}

/**** FOOTER ****/
footer {
	padding:2rem 0rem;
	border-top:1px solid #f3f3f3;
	background-color:#f7f7f7;
	text-align:center;
}

/**** FORMS ****/
textarea {
	resize:none;
}
.food-category {
	position:relative;
	padding:0rem 1rem 0rem 2.25rem;
	background-position:left center;
	background-size:contain;
	background-repeat:no-repeat;
	font-size:1.25rem;
}
.food-category input {
	visibility:hidden;
}
.food-category-name {
	transition:0.15s;
		-webkit-transition:0.15s; -moz-transition:0.15s; -ms-transition:0.15s; -o-transition:0.15s;
}
.food-category input:checked ~ .food-category-name {
	color:#FFA73D;
}

/**** FOOD ****/
.food {
	position:relative;
	max-width:800px;
}
.food-best-before {
	margin-bottom:0.5rem;
}
.food-image {
   border-radius: 5px%;
   width:90px; height:90px;
   margin-top:2px; margin-right:0.5rem;
   background-size:contain;
   background-position:center top;
   background-repeat:no-repeat;
}
.food-details {
	font-size:0.75rem;
	opacity:0.7;
}
.food-owner {
	text-transform:capitalize;
	font-weight:bold;
	cursor:pointer;
}
#page .btn.food-delete {
   color:#cc433b;
   border-color:#cc433b;
}
#page .btn.food-delete:hover {
	background-color:#cc433b;
	color:white;
}
#page .food .btn.pull-right {
	clear:right;
	margin:0rem 0rem 0.5rem 1rem;
}
	/**** OLD ****/
	.food.old {
		opacity:0.6;
	}
	.food.old .btn {
		display:none;
	}

/**** MESSAGES ****/
.conversation {
	position:relative;
}
.conversation p {
	margin-right:2rem;
}
.conversation:after {
	content:'';
	display:block;
	position:absolute;
	bottom:1rem; right:1rem;
	padding:8px;
	border-radius:50%;
	border:1px solid rgb(255,167,61);
}
.conversation.unread:after {
	background-color:rgb(255,167,61);
}
#messages {
	max-height:300px;
	max-height:40vh;
	overflow-y:scroll;
}
.speech-bubble {
	border-radius:10px;
	margin-bottom:1rem;
	padding:0.5rem;
}
.speech-bubble.received {
	background-color:#f3f3f3;
	color:black;
}
.speech-bubble.sent {
	background-color:rgba(25,182,255, 1.0);
	color:white;
}
.speech-bubble-food {
	opacity:0.6;
}

/**** GEORGE ****/
.mission_goal {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.item_filtering {
    outline: auto gray;
}
.item_display {
    outline: auto gray;
}
.item_tile{
    overflow: hidden;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: lightgrey;
}
.item_tile_image {
    max-width: 100px;
}
.item_button_group {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.item_button {
    border-radius: 0px;
    align-self: center;
}
.item_search_input > input[type~="text"],
.item_search_input > input[type~="text"]:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    font-size: 2.0vmin;
    text-align: center;
}
.member_photo {
	width:100px;
    border-radius: 50%;
    max-height: inherit;
}
.member_section {
	text-align:center;
    padding-bottom: 5rem;
}
.mission_goal{
    margin-bottom: 2%;
    box-shadow:0px 0px 0px 5000px rgba(0,0,0,0.4) inset;
}
.msg_display_section{
    background-color: whitesmoke;
    height: 500px;
    overflow-y:scroll;
    overflow-x: hidden;
}
.msg_member_select{
    background-color: whitesmoke;
    height: 500px;
    overflow-y:scroll;
    overflow-x: hidden;
}
.message_received {
    background-color: darkred;
    color:whitesmoke;
    font-style: oblique;
    margin-top: 5px;
    border-radius: 5%;
}
.message_sent {
    background-color: darkblue;
    color:whitesmoke;
    font-style: oblique;
    margin-top: 5px;
    border-radius: 5%;
}

/**** MAP ****/
#map, #itemsContainer {
	height:600px;
	height:calc(100vh - 78px - 92px);
}
.nopadding {
    padding:0;
}
.nomargin {
    margin:0;
}
.filters {
    padding:16px 0px;
    border-bottom:1px solid #f3f3f3;
}
.filters label {
	font-size:13px;
	font-weight:normal;
}
.distanceDropdown {
    padding: 5px 10px;
    width: 100%;
}
#itemsList {
    height: calc(100vh - 185px);
    padding: 15px 0;
    background-color: white;
    overflow: auto;
}
.itemContainer {
    height: auto;
    border: 1px solid rgb(220, 220, 220);
}
.itemImageContainer { 
    height: 100px;
    background-color: red;
}

/**** USER PROFILES ****/
.user {
	padding-bottom:1.5rem;
}
#userProfileForm {
	display:none;
}
#userProfile.hide {
	display:none;
}
#userProfile.hide + #userProfileForm {
	display:block;
}
.user h4 {
	padding-top:5px;
}
.user .user-profile-pic {
	float:left;
	margin-right:1rem;
	width:70px; height:70px;
	border-radius:50%;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

/**** RESPONSIVE ****/
@media (orientation:portrait) {
   
}

@media (max-width:768px) {
	
}
@media (max-width:500px) {
	.food .media-left {
		display:block;
		width:100%;
		text-align:center;
		margin-bottom:1rem;
	}
	.food .media-left figure {
		margin-left:auto; margin-right:auto;
	}
	.food .food-details time {
		display:block;
	}
	.food .btn {
		float:none !important;
		margin-left:0px !important;
		width:100%;
	}
}
@media (max-width:320px) {

}